body {
    margin: 0;
    overflow: hidden;
    background-color: #1a1a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#raindrops-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#rain-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#title {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#boxes-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-image: url('assets/box-inactive.png');
    background-size: cover;
    cursor: pointer;
}

.box.active {
    background-image: url('assets/box-active.png');
}
